* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 20px;
}

.dashboard {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--primary-color);
}

.rounded-xxl {
  border-radius: 1.5rem;
}

.component-name-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  span {
    cursor: pointer;
    font-weight: 600;
  }
}
