.edit-profile {
  .container {
    @media (max-width: 850px) {
      flex-direction: column;
    }
  }

  .avatar {
    @media (max-width: 850px) {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
    }

    @media (min-width: 850px) {
      margin-left: 1rem;
      margin-right: 3rem;
    }

    div {
      cursor: pointer;
    }

    .person-img {
      width: 6rem;
    }

    button {
      background-color: #232323;
      padding: 0.4rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  h2 {
    color: #333;
  }

  .form-group-container {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;

    @media (min-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .form-group {
    label {
      display: block;
    }

    input {
      border: 1px solid var(--border-color);
      color: var(--light-blue);
      width: 100%;

      &::placeholder {
        color: var(--light-blue);
      }
    }

    .error {
      color: red;
      font-size: 14px;
    }
  }

  .save-button {
    background-color: #232323;
    padding-left: 5rem;
    padding-right: 5rem;

    @media (max-width: 850px) {
      width: 100%;
      margin-top: 0;
    }

    @media (min-width: 850px) {
      margin-top: 2rem;
    }
  }

  @media (max-width: 1000px) {
    .hidden-block {
      display: none;
    }
  }
}
