.recent-transactions {
  height: 100%;

  .container {
    max-height: 300px;
    overflow-y: scroll;
  }

  .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card {
    background-color: #fff5d9;
  }
  .paypal {
    background-color: #e7edff;
  }
  .other {
    background-color: #dcfaf8;
  }
}
