.recent-transactions {
  height: 100%;

  .container {
    max-height: 300px;
    overflow-y: auto;
  }

  .icon {
    border-radius: 50%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card {
    background-color: #fff5d9;
  }
  .paypal {
    background-color: #e7edff;
  }
  .other {
    background-color: #dcfaf8;
  }

  .row-amount {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    .row-amount {
      display: block;
    }
    .column-amount {
      display: none;
    }
  }
}
