.sidebar {
  z-index: 1;
}

nav {
  background-color: #fff;
  width: 16rem;
  border-right: 1px solid var(--border-color);

  .task {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #343c6a;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 10px;
    // padding: 1.25rem 2.5rem;
    white-space: nowrap;
  }

  li {
    position: relative;
    color: #b1b1b1;
    display: flex;

    a {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 2.5rem;
      white-space: nowrap;
      width: 100%;
    }
  }

  .marker {
    width: 10px;
    height: 100%;
    background-color: #232323;
    position: absolute;
    top: 0;
    left: -5px;
    border-radius: 1rem;
  }

  .icon {
    margin-right: 0.5rem;
    filter: brightness(100%);
  }

  .active {
    color: #232323;

    .icon {
      filter: brightness(0%);
    }
  }
}

.main-content {
  width: 100%;

  @media (min-width: 640px) {
    padding-left: 16rem;
  }
}

.header-container {
  @media (min-width: 640px) {
    border-bottom: 1px solid var(--border-color);
  }
}
